experiment:
  name: "File-submission"
  version: "v2.x.x"
  dir: "./experiments/v2.x/v2.x.x"
  baseline: "v2.x.0"
  description: "Test submission file generation"
  author: Emmanuel Olateju
  date: 01-02-2026
  messages:
    - Test with subtask-2 alone

languages:
  - "swa"
  - "hau"
  - "eng"
  - "amh"

models:
  slave_model: "setu4993/LEALLA-base"
  anchor_model: "sentence-transformers/LaBSE"
  freeze_slave_n_layers: 0
  freeze_anchor_n_layers: 0

training:
  lr: !!float 2e-5
  batch_size: 16  
  n_epochs: 2
  
  TNCSE:
    alpha: 0.05
    beta: 1
    gamma: 0.01
    temperature: 0.1

n_labels:
  subtask1: 2
  subtask2: 5
  subtask3: 6

minority_classes:
  subtask2:
   - "gender/sexual"
   - "other"

augmentations:
  - "aeda"
  - "wordswap"
  - "backtranslate"