experiment:
  name: "Cross-Lingual Dry-Run"
  version: "v2.x"
  dir: "./experiments/v2.x"
  baseline: "v2.x"
  description: "Testing TNCSE implementation from reposoitory"
  author: Emmanuel Olateju
  date: 01-02-2026
  messages:
    - First dry run

languages:
  - "swa"
  - "hau"
  - "eng"
  - "amh"

models:
  slave_model: "sentence-transformers/LaBSE"
  anchor_model: "sentence-transformers/LaBSE"
  freeze_slave_n_layers: 0
  freeze_anchor_n_layers: 0

training:
  lr: !!float 1e-6
  batch_size: 8
  n_epochs: 5
  
  TNCSE:
    alpha: 0.1
    beta: 1
    gamma: 0.1
    temperature: 0.05

n_labels:
  subtask1: 2
  subtask2: 5
  subtask3: 7